div#topo{
    background: rgb(3, 10, 65);
    text-align: center;
    margin-top:auto;
}
div#des{
    text-align: center;
    background: rgb(3, 10, 65);
}
div#dan{
    text-align: center;
    background: rgb(3, 10, 65);
}
body{
    background-color: rgb(10, 25, 241);
    color: white;
    font: normal 40px arial;
}
input{
    font: normal 18px arial;
    width: 100px;
}
div#res{
    text-align: center;
    margin-top:auto;
}
h2{
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
}
p{
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;  
}